# Python cruft
__pycache__/
*.py[cod]
*.pyd
*.pyo
*.pyc
.venv/

# Bytecode & artifacts
*.pkl
*.joblib

# VCS
.git/
.gitignore

# Build & caches
dist/
build/
.pytest_cache/
.mypy_cache/
ruff_cache/
.cache/

# Hugging Face / Models / Data
hf-cache/
.hf/
.hf_cache/
data/
models/
notebooks/

# IDE / OS
.DS_Store
Thumbs.db
.idea/
.vscode/

# Jupyter
.ipynb_checkpoints/

# Logs
logs/
*.log
