# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
env/
venv/
ENV/
*.sqlite3
*.db
*.log
*.env

# Jupyter & IPython
.ipynb_checkpoints

# IDEs
.idea/
*.iml
*.iws
*.ipr

# Bytecode
*.class

# Data / Models
models/
data/
assets/

# System
.DS_Store
Thumbs.db

# Docker
*.tar
*.lock