# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
env/
venv/
ENV/
*.sqlite3
*.db
*.log
*.env

# Jupyter & IPython
.ipynb_checkpoints

# IDEs
.idea/
*.iml
*.iws
*.ipr

# Bytecode
*.class

# Assets
assets/

# System
.DS_Store
Thumbs.db

# Docker
*.tar
*.lock

# Secrets
secrets.*

# Caching
.cache/
*.joblib
*.pkl